@import '../generals/colors.scss';
@import '../generals/fonts.scss';
@import '../generals/huff.scss';
@import '../generals/options.scss';
@import '../generals/scrollbar.scss';
@import '../generals/showcase.scss';
@import '../generals/videoPlayer.scss';
@import '../generals/menu.scss';




:root{
    background-color: var(--background);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: top .05s, left .05s, transform .05s;
    font-size: 1rem;
}

html,body{
    height: 100%;
    width: 100%;
}


.mainContent{
    display: flex;
    width: 85%;
    padding: 1rem;
    padding-bottom: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-between; 
    position: fixed;
    left: 15%;
}

.mainContent > .search {
    width: 83.5%;
    height: 7.5%;
    display: flex;
    gap: 1.5rem;
    background-color: var(--input);
    padding: .5rem;
    align-items: center;
    border-radius: .5rem;
    left: 15.5%;
    position: fixed;
}

.mainContent > .search > div {
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5rem;
    justify-content: center;
    border-radius: 100%;
    transition: background-color .1s;
}

.mainContent > .search > div:hover {
    background-color: var(--hover);
}


.mainContent > .search > div > svg {
    height: 80%;
    aspect-ratio: 1/1;
    fill: var(--text);
    transition: fill .1s;
}

.mainContent > .search > div:hover > svg {
    fill: var(--capi);
}

.mainContent > .search > input {
    width: 100%;
    height: 100%;
    color: var(--text);
    background-color: var(--input);
    border: none;
    outline: none;
}

.mainContent > .columnContainer {
    width: 100%;
    height: 90%;
    display: flex;
    overflow-y: scroll;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 0;
}

.mainContent > .columnContainer > .column{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 33.3%;
    align-items: center;
    gap: 1rem;
}

.huff{
    width: 95%;
}

.scrollBar{
    height: 100%;
    width: 1.5%;
    background-color: var(--hover);
    overflow: hidden;
}
.scrollBar > div{
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 80%;
    padding: 0;
    margin-bottom:0;
    background-color: var(--capi);
    border-radius: 1rem;
    overflow: hidden;
}

.scrollBar > div:active{
    background-color: var(--hovered);
}

@media screen and (max-width: 800px) {
    .four, .triple, .two{
        height: 10rem;
    }
    .vid > span{
        width: 2rem;
        height: 2rem;
    }
    .huff > .publisher{
        .pubName{
            span:first-child{
                font-family: "options", monospace;
                font-weight: 500;
                font-size: .6rem;
            }
            span:last-child{
                display: none;
            }
        }
        img{
            height: 1.5rem;
        }
        
    }
    .huff > .huffContent > span{
        font-size: .65rem;
    }
    .huff > .huffContent > span > a{
        font-size: .65rem;
    }

    .huff > .buttons{
        display: none;
    }
    .mainContent {
        width: 100%;
        height: 90%;
    }

    
    
}

