<div class="huff" id="huff" style="display: none;" href="#">
    <a class="publisher" href="#">
        <img alt="">
        <div class="pubName">
            <span>example</span>
            <span>@example</span>
        </div>
    </a>
    <div class="huffContent">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perferendis culpa corporis mollitia eum. A ratione error nihil quas? Eos harum est id neque dolores quas, aliquam corporis ab illum.</span>
        <div class="multimedia"></div>
    </div>
    <span class="sponsor">Sponsored</span>
    <div class="buttons">
        <div class="like" onclick="like(this)"><%-icons.likebefore%></div>
        <a class="comment"> <%- icons.comments%></a>
        <div class="save" onclick="save(this)"><%-icons.save%></div>
        <div class="share"><%-icons.share%></div>
    </div>
</div>    