<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="" alt="" id="emoji">
</body>
<script>

    function getEmoji(x, y){
        let obj = document.createElement("img");
        const canvas = document.createElement("canvas");
        canvas.width = 66;
        canvas.height = 66;
        const context = canvas.getContext('2d');
        var image = new Image();
        image.src = "http://127.0.0.1/client/emojis/emoji.webp";
        let tam = 66;
        image.onload = () => {
            context.drawImage(image, x * tam, y * tam, tam, tam, 0,0, tam, tam);
            obj.src = canvas.toDataURL();
        }
        return obj;
    }
    

    document.getElementById("emoji").replaceWith(getEmoji(1, 1))
</script>
</html>