@font-face {
    font-family: "capibara";
    src: url(../_fonts/Capibara.ttf), url(../_fonts/emoji.ttf); 
}

@font-face {
    font-family: "newWorld";
    src: url(../_fonts/newWorld.ttf), url(../_fonts/emoji.ttf);
}

@font-face {
    font-family: "options";
    src: url(../_fonts/Options.ttf), url(../_fonts/emoji.ttf);
}

@font-face {
    font-family: "emojis";
    src: url(../_fonts/emoji.ttf);
}

@font-face {
    font-family: "dislexic";
    src: url(../_fonts/dislexic.ttf);
}
