<div class="showcase" id="showcase">
    <span><%-icons.cross%></span>
    <div id="showcaseContent">
        <img src="https://thumbs.dreamstime.com/z/y-grizzly-giant-full-height-938074.jpg" alt="">
    </div>
</div>