*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: top .05s, left .05s, transform .05s;
    font-family: "options", monospace;
} 

.mainContent > .huff > span{
    font-family: "options", monospace;
    font-size: 1rem;
}

.mainContent > .huff > .publisher > span{
    font-family: "options", monospace;
    font-weight: 450;
    font-size: 1rem;
}

.mainContent > .huff > .publisher > span > span{
    color: #a52a02;
}

.mainContent > .huff > .publisher > span > span:last-child{
    font-size: 1rem;
}


.recommendations > .now > .trending > .trendsCont{
    font-family: "options";
    font-size: 1rem;
    font-weight: 500;
}

.recommendations > .now > .people > .ppCont{
    font-family: "options";
    font-size: 1rem;
    font-weight: 500;
}





:root{
    background-color: var(--background);  
}


html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scrollbar-color: var(--capi) var(--hover);
    display: flex;
    overflow-y: scroll;
}


html::-webkit-scrollbar{
    width: .5rem;
    background-color: var(--hover);
}


html::-webkit-scrollbar-thumb{
    background-color: var(--capi);
}


body{
    width: 100%;
    height: 100%;
}



/* MainContent */
.mainContent{
    display: flex;
    position: absolute;
    left: 15%;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    scrollbar-width: none;
}

.mainContent > *:first-child{
    margin-top: 1rem;
}

.smooth{
    scroll-behavior:smooth;
}

.noselect{
    user-select: none;
}

.mainContent::-webkit-scrollbar{
    width: 0;
}


/* Recommendatios */
.recommendations{
    height: 100%;
    width: 15%;
    position: fixed;
    background-color: var(--input);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    /* left: calc(85% - 1rem); */
    left: 85%;

}

.recommendations > .search {
    width: 90%;
    height: 5%;
    border-radius: 5rem;
    display: flex;
    background-color: var(--hover);
    gap: 1rem;
    border: .5rem solid var(--hover);
    align-items: center;
    justify-content: center;
}

.recommendations > .search > svg{
    width: 10%;
    fill: var(--text);
}

.recommendations > .now > .search > .filled{
    fill: var(--capi);
    cursor: pointer;
}

.recommendations > .search > input{
    background-color: var(--hover);
    width: 85%;
    height: 90%;
    border: none;
    color: var(--text);
    user-select: none;
    outline: none;
}

.recommendations > .now{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.recommendations > .now > div{
    padding: 5%;
    background-color: var(--hover);
    width: 90%;
    height: 45%;
    border-radius: 1rem;
}

.recommendations > .now > div > span{
    width: 100%;
    justify-content: center;
    display: flex;
    color: var(--text);
    font-family: "options", monospace;
    font-size: 1rem;
    user-select: none;
}
.recommendations > .now > div > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
}

.recommendations > .now > div > div > a{
    display: flex;
    padding: 7.5% 0 7.5% 0 ;
    border-radius: 1rem;
    justify-content: space-around;
    background-color: var(--input);
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s;
}

.recommendations > .now > div > div > a:hover{
    background-color: var(--capi);
}

.recommendations > .now > div > div > a > span{
    color: var(--text);
    text-decoration: none;
    user-select: none;
}

.recommendations > .now > div > div > a > span:visited{
    color: var(--text);
    text-decoration: none;
}

.noUser{
    display: flex;
    width: 90%;
    height: 10%;
    gap: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .2s;
    background-color: var(--hover);
    font-family: "options", monospace;
    font-size: 1rem;
    transition: background-color .2s, font-size .2s, scale 25ms;
    color: #fff;
}

.noUser:hover{
    background-color: var(--capi);
    font-size: 1.25rem;
}

.noUser:active{
    scale: 95%;
}



