@font-face {
    font-family: "capibara";
    src: url(../Fonts/Capibara.ttf), url(../Fonts/emoji.ttf); 
}

@font-face {
    font-family: "newWorld";
    src: url(../Fonts/newWorld.ttf), url(../Fonts/emoji.ttf);
}

@font-face {
    font-family: "options";
    src: url(../Fonts/Options.ttf), url(../Fonts/emoji.ttf);
}

@font-face {
    font-family: "emojis";
    src: url(../Fonts/emoji.ttf);
}


@font-face {
    font-family: "dislexic";
    src: url(../Fonts/dislexic.ttf);
}
