<!DOCTYPE html>
<html lang="en" theme="dark">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up | Capybara</title>
	<link rel="shortcut icon" href="/client/_src/capi.svg" type="image/x-icon">	
	<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>

<body>
	<div class="content">
		<div id="title" class="title">
			<span>Be part of <span>Capybara</span></span>
			<span><span>Be </span><span id="changingText"></span><span></span></span>
		</div>
		<div class="slider" id="slider">
			<div class="card" id="card">
				<div class="before" id="before" onclick="beforeSlide()">
					<span><%- icons.left%></span>
				</div>
				<div class="onDisplay" id="onDisplay">
					<span>Placeholder</span>
						<div>
						<input type="">
					</div>
				</div>
				<div class="after" id="after" onclick="nextSlide()">
					<span><%- icons.left%></span>
				</div>
			</div>
		</div>
	</div>
</body>

<%-include("../_templates/loading")%>
</html>