<!DOCTYPE html>
<html lang="en" theme="dark">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login | Capybara</title>
	<link rel="shortcut icon" href="/client/src/capi.svg" type="image/x-icon">
</head>
<body>
	<div class="themeSwitch" onclick="" id="themeSwitch" alt="Change Theme">
		<%-icons.switch%>
	</div>	
	<!--Powered by love <3 -->
	<a class="logo" href="/client/main/">
		<img src="/client/src/capi.svg" alt="logo capibara" height="100" width="100" loading="eager">
	</a>
	<div class="title">
		<h1 id="wlc">Welcome to <span>Capybara</span></h1>
		<h2>The <span>new</span> way to see the <span>world</span></h2>
	</div>
	<!-- Karl Pincho - Rivest 2022 -->
	<div class="login">
		<section class="user">
			<span>Username</span>
			<input type="text" name="username" id="username" required placeholder="Username or e-mail" />
		</section>
		<section class="pass">
			<span>Password</span>
			<input type="password" name="password" id="password" required placeholder="Password" />
		</section>
			<button id="loginButton" class="btnlog">Log In</button>
			<span class="register">Do you not have an account yet? <a id="Signup" href="/client/signup/">Sign up now</a>!</span>
	</div>
</body>
<%-include("../templates/loading")%>
</html>